---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PageTitle from '../components/PageTitle';
import ProjectCard from '../components/ProjectCard.astro';
const projects = await getCollection('projects');
---

<BaseLayout>
	<section class='flex flex-col items-center'>
		<PageTitle>My projects</PageTitle>
		<div class='flex flex-col gap-8 max-w-7xl'>
			{projects.map((project) => <ProjectCard project={project} />)}
		</div>
	</section>
</BaseLayout>
