---
import CatppuccinLogo from '@/assets/catppuccin-logo.png';
import { Image } from 'astro:assets';
---

<footer class='flex flex-col items-center justify-center gap-1 pt-8 text-xs'>
	<span>
		Web illustrations by
		<a href='https://storyset.com' target='_blank' class='text-xs'>
			Storyset
		</a>
	</span>
	<div class='flex items-center'>
		Theme by
		<a
			href='https://catppuccin.com'
			target='_blank'
			class='flex items-center ml-1'
		>
			Catppuccin
			<Image src={CatppuccinLogo} alt='' class='ml-2 size-5' />
		</a>
	</div>
</footer>
