---
import NavButton from "./NavButton";
---

<nav
    class="flex items-end relative min-[400px]:left-0 left-6 justify-end gap-4 min-[400px]:mr-2 text-lg font-robotoMono sm:mr-4 md:mr-10 lg:gap-8 xl:mr-32"
>
    <NavButton link="/" text="Home" client:load />
    <NavButton link="/tools" text="My tools" client:load />
    <NavButton link="/projects" text="My projects" client:load />
</nav>
